rules:
    - ArtsPeople\PHPStan\Rules\Keywords\GlobalKeywordRule
    - ArtsPeople\PHPStan\Rules\Variables\GlobalsVariableWriteRule

services:
    -
        class: ArtsPeople\PHPStan\Rules\Keywords\GlobalKeywordRule
        tags:
            - phpstan.rules.rule

    -
        class: ArtsPeople\PHPStan\Rules\Variables\GlobalsVariableWriteRule
        tags:
            - phpstan.rules.rule
