rules:
    - SamLitowitz\PHPStan\Rules\Keywords\GlobalKeywordRule
    - SamLitowitz\PHPStan\Rules\Variables\GlobalsVariableWriteRule

services:
    -
        class: SamLitowitz\PHPStan\Rules\Keywords\GlobalKeywordRule
        tags:
            - phpstan.rules.rule

    -
        class: SamLitowitz\PHPStan\Rules\Variables\GlobalsVariableWriteRule
        tags:
            - phpstan.rules.rule
